<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .jumbotron{
            position: relative;
            height: 500px;
        }
    </style>
        <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <header>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="#">TinyLink</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav ml-auto">
              <a href="/" class="nav-item nav-link">Shorten a link</a>
              <a href="/statistics/" class="nav-item nav-link">Stats</a>
	      </div>
	    </div>
	  </nav>
	</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<div class="row-fluid">
    <div class="container">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="row">
                    <div class="span12">
                        <h2>Shorten a link</h2>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="span12">
                        <div class="control-group">
                            <form class="form-horizontal" id="url_submit_form" method="POST" action="/">
                                {% csrf_token %}
                                <div class="row">
                                     <div class="span2">{% if error %}
                                                <span class="help">   Please enter a valid URL</span>
                                            {% endif %}
                                     </div>
                                </div>
                                <div class="row">
                                    <div class="span5">
                                        <div class="control-group {% if error %}error{% endif %}">
                                            <label for="url_input" class="form-text text-muted">Type an URL below</label>
                                            <input type="text" name="url"
                                                   placeholder="http://google.com"
                                                   value="{% if url %}{{ url }}{% endif %}"
                                                   id="url_input"
                                                   class="form-control">
                                            <br />
                                            <small id="emailHelp" class="form-text text-muted">If you want your own shortURL type in a shortlink below.</small>
                                            <input type="text" name="shortOpt"
                                                   placeholder="Optional 7 character shortlink "
                                                   value="{% if shortOpt %}{{ shortOpt }}{% endif %}"
                                                   id="shortLink"
                                                   class="form-control">

                                        </div>
                                    </div>

                                </div>
                                <br />

                                <div class="row">
                                     <div class="span5">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                     </div>
                                </div>
                            </form>
                        </div>
                    {% if shorturl %}
                        <h2>Success!</h2>
                        <p>Shortened URL: <a href="{{ shorturl }}">{{ shorturl }}</a></p>
                        <p>View statistics: <a href="statistics/{{ shorturl }}">statistics/{{ shorturl }}</a></p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
  </section>



</main>

<footer class="text-muted">
  <div class="container text-center">
  	<p>© Anindya Pal {% now "Y" %}</p>
  </div>
</footer>

</body>
</html>